body{
    direction: rtl;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@media  (max-width: 700px) {
    body {
        background-color: white;
    }
    #showimg{
        height: 400px;
        width: 400px;
        margin: 30px 30px;
        background: url("../images/imag6.jpg") no-repeat center;
    background-size: cover;
    
    }
  }
  
.container{
    width:90%;
    margin: auto;
    overflow: hidden;
}
 ul
{
 margin: 0;
 padding: 0;

}
header{
    background-color: #353637;
    color: white;
    min-height: 70px;
    padding-top: 30px;
    border-top: chartreuse 5px solid; 
    border-bottom: chartreuse 5px solid; 
    text-align: center;

}
header a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
header li{
    float: right;
    display: inline;
    padding: 0 20px 0 20px;
}
header #brand{
 padding: 10px 10px;
}
header #brand h1{
    color: yellowgreen;
    margin: 0;
    

}
header nav{
    margin-right: 250px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px 10px;
}
header .current a{
    color: white;
}
header a:hover{
    color: yellowgreen;
    font-weight: bold;

}
header :hover{
    color: yellowgreen;
    font-weight: bold;
  
}
header .textphone, header .phonenum:hover{

    color: yellowgreen;
    font-weight: bold;
}
header li p{display: inline;}
.container{
   
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

}
#showimg .etsal button:hover 
{
    background-color:hotpink;
    font-weight: bold;
    color: forestgreen;
 
}
#showimg .etsal button a:hover{
    color: forestgreen;
}
#showimg{
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 10px;
    text-align: center;
    background-image: url("../images/WhatsApp\ Image\ 2021-10-21\ at\ 6.03.04\ PM.jpeg");
    height: 500px;
} 
#showimg button a{
    text-decoration: none;
    color: #fff;
}
#showimg .etsal{
    width: 600px;
    background-color: blue;
    top:50%;
    right: 50%;
   /** transform: translate(-60%,20px);**/
    margin-top: 20px;
    height: 400px;
    color:yellow;
    padding-top: 40px;
    margin: auto; 
}

#showimg button{
    color: #fff;
    padding: 10px 10px;
    margin: 5px;
    font-size: 35px;
    border: 1px solid forestgreen;
    border-radius: 5px;
    background-color: forestgreen;
    transition: all .5s;
    width: 200px;
}

#showimg .etsal h3{
    font-size: 40px;
    font-weight: 800;

}
#showimg .etsal p{
    font-size: 35px;


}
/* #showimg{
    position: relative;
    margin: 10px 300px;
  
    min-height: 400px;
    background: url("../images/WhatsApp\ Image\ 2021-10-21\ at\ 6.03.06\ PM\ \(1\).jpeg") no-repeat center;
    background-size: cover;
    
} */
/* #showimg:hover{
         background: url("../images/WhatsApp\ Image\ 2021-10-21\ at\ 6.03.05\ PM\ \(1\).jpeg") no-repeat center;
      background-size: cover; } */

.picture{
    width:100%;
    margin: auto;
    overflow: hidden;
    float: left;
    background-color: white;
    color: forestgreen;
    font-size: 20px;
    padding: 10px;
    text-align: center;
   
}
.con{
    margin: auto;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.con p{
    font-size: 20px;
}
.con p:hover{
    color:crimson;
    font-weight: bold;
}
.con h1:hover{
    color:crimson;
}
.call{
    width: 90%;
    margin: auto;

}

/**.tanseq{
    background-color: darkcyan;
    
    margin:  auto;
    border:5px solid none;
    text-align: center;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    padding: 10px;
    border: 5px solid;
}

 img:hover{
     transform:rotatex(180deg)
}
**/
.tanseq{
    padding: 20px;
    width: 90%;
    margin: 20px auto;
    border:5px solid none;
    text-align: center;

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
}
.tanseq .dtan{
 color:black;
 width: 300px;
 height: 200px;
 margin: 20px 20px;

font-size: 20px;

}
/* .tanseq .dflower{
    color:black;
 width: 300px;
 height: 200px;
 margin: 20px 20px;
 

font-size: 20px;
   
}
.tanseq .dplantes{
    color:black;
 width: 300px;
 height: 200px;
 margin: 20px 20px;


font-size: 20px;
  
    
} */
 .dtan{
 margin-top: 20px;
 color:black;
 margin: auto;
 text-align: center;

 padding: 20px;
 font-size: 20px;

}
.dtan nav{
    width:500px;
    height:400px;
    overflow: hidden;
    margin: auto;
    position: relative;
}
.dtan ul{
    width: 2500px;
   
     padding: 0;
     list-style: none;
     
    position: absolute;
     animation: sliding 5s ease-in infinite;
 }
 .slider ul li{
   float: left; 
   position: absolute;
    
 }
 @keyframes sliding{
     5%,35%{left: 0;}
     35%{left: -500px;}
     50%{left:-1000px;}
     60%{left:-1500px;}
     70%{left:-2000px;}
     80%{left:-2500px;}
 }
/* .dflower{
    color:black;
 width: 300px;
 height: 200px;
 margin: 20px 20px;
 

font-size: 20px;
   
}
.dplantes{
    color:black;
 width: 300px;
 height: 200px;
 margin: 20px 20px;


font-size: 20px;
  
    
} */
.serimg {
position: relative;
display: flex;
flex-direction: row;    

}
.showvid{
    position: relative;
    width: 80%;
    margin-top: 10px;
    margin-right: 200px;
    margin-left: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
  
    
}
.showvid video{
    size: inherit;
}

 .footer{
    background-color: black;
    height: fit-content;
    color:white;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    border-top: 5px solid chartreuse;
    text-align: center;
   
  
}
.footer h2{
    color: chartreuse;
}
.bastana div{
    font-size: 20px;
    text-align: center;
    
}
.bastana{
    font-size: 20px;
    text-align: center;
    height: fit-content;
    overflow: hidden;
    padding: 30px;
    margin-top: 50px;
   
}
.bastana div{
    float: left;
   
}
.bastana h2 { 
    padding-top: 80px;
    color:forestgreen;
    font-size: 40px;
}
.mywork{
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.mywork h2{
    color:forestgreen;
    font-size: 40px;
}
section .video-library{
    width: 100%;
    float: right;
    text-align: center;
    font-size: 20px;
    color: forestgreen;
    margin: auto;
    background-color: cadetblue;
    padding: 10px;
}
